---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
{
    date: "septiembre 2025 - actualmente",
    title: "Técnico de laboratorio informático",
    company: "Advanced Computer Trading",
    description:
      "Encargado de la instalación y mantenimiento de sistemas operativos y hardware. Realicé reparación de equipos informáticos y configuración de redes.",
  },
  {
    date: "marzo 2025 - abril 2025",
    title: "tester",
    company: "RFE",
    description:
      "Pruebas funcionales de hardware y software en radios militares, gestión de incidencias con Jira y uso de Jenkins para validación y pruebas en entornos CI/CD.",

  },
  {
    date: "enero 2025 - abril 2025",
    title: "full stack developer",
    company: "Freelance",
    description:
      "Desarrollo backend en C# y frontend 3D con JavaScript/Three.js, incluyendo área de empleados, login y lógica de validación y creación de estructuras.",
  },
  {
    date: "marzo 2024 - julio 2024",
    title: "back-end developer",
    company: "Plexutech",
    description:
      "Desarrollo de microservicios con Java y Spring Boot, pruebas unitarias (JUnit/Mokito) e integración continua con Jenkins en un entorno bancario.",
    },
    {
      date: "marzo 2022 - junio 2022",
      title: "wordpress developer",
      company: "OnDigital Marketing",
      description:
        "desarrollo de sitios web con wordpress, diseño de temas y plugins personalizados, como parte del kit digital.",
    },
  {
    date: "agosto 2021 - febrero 2024",
    title: "vendedor informatica / tecnico informatico",
    company: "Mediamarkt Iberia",
    description:
      "Asesoramiento al cliente, ventas y soporte técnico con diagnóstico y reparación de equipos informáticos.",
  },
  {
    date: "julio 2018 - marzo 2019",
    title: "tecnico informatico",
    company: "MasterD",
    description:
      "mantenimiento y reparacion de equipos informaticos, instalaciones de pc y otros dispositivos, y soporte tecnico.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
