---
const personalImageAlt = "Miguel Ángel";
import Badge from "@/components/Badge.astro";
import LinkedInIcon from "@/components/icons/LinkedIn.astro";
import MailIcon from "@/components/icons/Mail.astro";
import Cv from "./icons/Cv.astro";
import SocialPill from "@/components/SocialPill.astro";
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-16"
      src="/me.jpeg"
      alt={personalImageAlt}
    />
    <a
      href="https://www.linkedin.com/in/%C3%A1ngeldelarosa/"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Disponible para trabajar</Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    Hey, soy Angel de la Rosa
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  >
    Apasionado del desarrollo web. <strong
      >Desarrollador Full Stack Junior enfocado en el backend</strong
    >
    de Madrid, España 🇪🇸. Con un año de experiencia profesional, pero con muchas
    ganas de aprender, crecer y aportar en nuevos proyectos.
  </p>

  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="mailto:angeldelarosa.trabajo@gmail.com">
      <MailIcon class="size-4" />
      Contáctame
    </SocialPill>
    <SocialPill href="https://www.linkedin.com/in/%C3%A1ngeldelarosa/">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
    <SocialPill href="/CV_Ángel_De_La_Rosa_Developer.pdf" download="CV Angel De La Rosa">
      <Cv class="size-4" />
      CV
    </SocialPill>
  </nav>
</div>
